:root {
    // Colors
    --blue: #3C93F0;
    --yellow: #FED036;
    --grey: #F1F1F1;
    --green: #09D743;
    --white: #FFFFFF;
    // Text Colors 
    --text-color: #3E3E3E;

    // Font Family
    --font-main: "Gilroy", sans-serif;
}