.header {
    padding: 45px 0 0;
    background-color: var(--yellow);


    .wrapper_content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 425px) {
            flex-direction: column;
        }

        .header_left {
            .header_text {
                color: var(--text-color);
                font-size: clamp(16px, 4vw, 30px);
            }

            .header_title {
                font-size: clamp(28px, 4vw, 60px);
                font-weight: 800;
                color: var(--white);
                margin: 38px 0;
            }

            .header_info {
                display: flex;
                align-items: center;
                gap: 12px;

                .info_img {
                    width: clamp(16px, 2vw, 25px);
                }

                .info_text {
                    font-size: 18px;
                }
            }
        }

        .header_right {
            width: clamp(335px, 60%, 635px);
        }

    }

}