.header_input {
    display: flex;
    align-items: center;
    margin: 40px 0 0;


    .header_label {
        .input {
            max-width: clamp(330px, 100%, 230px);
            height: 44px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: 500;
            border-radius: 3px 0 0 3px;
            background-color: var(--white);
        }

    }

    .input_btn {
        max-width: clamp(100px, 1vw, 120px);
        padding: 10px;
        font-size: clamp(14px, 1vw, 24px);
        font-weight: 500;
        border-radius: 3px;
        color: var(--white);
        background-color: var(--blue);
    }

}