.master_header_content {
    text-align: center;
    margin: clamp(32px, 0.988rem + 4.32vw, 78px) 0 0;

    .master_header_title {
        color: var(--text-color);
        font-size: clamp(20px, 0.972rem + 2.25vw, 48px);
        font-weight: 800;
        margin: 0 0 clamp(16px, 0.78rem + 0.94vw, 26px);
    }

    .master_header_text {
        font-size: clamp(12px, 0.486rem + 1.13vw, 24px);
        color: var(--text-color);
    }
}