.nav_region {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    @media (max-width: 768px) {
        display: none;
    }

    .nav_region_icon {
        display: flex;

        .nav_dropicon {
            width: 12px;
            height: auto;
        }
    }

    .nav_region_text {
        font-weight: 300;
        font-size: clamp(12px, 2vw, 18px);
    }
}