.ul_lists {
    display: flex;
    align-items: center;
    gap: 43px;

    @media (max-width: 1024px) {
        display: none;
    }

    .nav_list_dropdown {
        display: flex;
        justify-content: center;
        gap: 15px;

        .nav_icon {
            display: flex;
            width: 16px;
            height: auto;
        }

        .nav_list_dropdown {}
    }


    .list_item {
        color: var(--text-color);
        font-size: clamp(12px, 2vw, 18px);
    }
}